<div *ngIf="choose; else inputCity" class="location">
  <h1 class="location-city">{{ weatherService.weather.city }}</h1>
  <div class="location-change">
    <h3 class="location-choose" (click)="changeCity()">
      Сменить город
    </h3>
    <h3 class="location-my" (click)="loadMyLocation()">Мое местоположение</h3>
  </div>
</div>

<ng-template #inputCity>
  <div class="change">
    <input type="text" name="city" id="city" />
    <button id="ok" (click)="loadChosenLocation()">OK</button>
  </div>
</ng-template>
