.header {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 90px;
  justify-content: space-between;
  align-self: flex-start;
}
.location,
.degree {
  margin: 15px;
  box-sizing: border-box;
  /* width: calc(50% - 30px); */
}

.location {
  flex-direction: column;
}

.location-choose {
  padding-left: 2px;
}

.location-change {
  display: flex;
  margin-top: 10px;
}

.location-my {
  margin-left: 40px;
}

.location-my::before {
  margin-right: 10px;
  content: "➤";
  display: inline-block;
  transform: rotate(-55deg) scale(1.5, 1.5);
}

.degree h3 {
  display: inline;
  margin: 0 5px 0 5px;
  font-weight: bold;
}

.degree button {
  border: 2px solid #a7c7f5;
  padding: 5px 13px 5px 13px;
  cursor: pointer;
  background-color: transparent;
}

.degree button:hover,
.degree .toggled {
  background-color: #6da3ef;
}

.degree button:hover h3,
.degree .toggled h3 {
  color: #fff;
}

.celsius {
  border-right: none !important;
  margin-left: 5px;
  border-radius: 30% 0 0 30%;
}

.fahrenheit {
  border-left: none !important;
  border-radius: 0 30% 30% 0;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-top: 15vh;
}

.description {
  text-align: center;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  align-items: center;
  margin-top: 20vh;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
  align-items: center;
}

.detail {
  width: calc(25%-50px);
}

.about {
  margin-top: 10px;
}

.location2,
.temperature2 {
  height: 30vh;
  /*  width: 50%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature2 {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
