.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-top: 15vh;
}

.description {
  margin-top: 10px;
  text-align: center;
}

#img {
  font-size: 7em;
  margin-right: 20px;
  margin-bottom: 10px;
}
