.details {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  align-items: center;
  margin-top: 18vh;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
  align-items: center;
}

.detail {
  width: calc(25%-50px);
}

.about {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .details {
    margin-left: 40px;
    margin-right: 40px;
  }
  .detail {
    padding-bottom: 50px;
    width: 50%;
  }
}
